*{
    margin:0;
    padding:0;
    box-sizing:border-box;


}
body{
     min-height:100vh;
     font-family:'segoe UI',ariel,sans-sarif;
     background:linear-gradient(135deg,#ff6a00,#ee0979,#00c6ff,#7f00ff);
     background-size:400% 400%;
     animation:bgMove 12s ease infinite;
     display:flex;
     justify-content:center;
     align-items:center;
     color:#fff

}
.container{
     width:90% ;
     max-width:350px;
     padding:20px;
     background:rgba(0,0,0,0.45);
     border-radius: 18px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.4);
      
}
h1{
     font-size:14px;
     margin-bottom:10px;

}
p{
     font-size:14px;
     margin-bottom:8px;
     color:#ddd;
}
.btn{
     display:block;
     margin-top:15px;
     padding:12px;
     background:#00ffcc;
     color:#000 ;
     text-decoration:none;
     border-radius:10px;
     font-weight:bold;
     transition:0.3s;
     
}

.btn:hover{
     transform:scale(1.05);
     background:#00ddb3;

}
@keyframes bgMove{
   0%{background-position:0% 50%};
   50%{background-position:100% 50%};
   100%{background-position:0% 50%};
}